<div class="about">
<h3 align="center">About Post Jokes</h3>
<p>It's a group where you get to read and post awesome jokes. You can add a couple of those you know which can bring a smile to someone's face. So, it's a cool place to hang out, have fun.</br>

"At Post jokes, we create a smile."</br>
so, help us create place where tears are just a sign of extreme laughter XD</br>
✰✰✰✰✰Request From Admin✰✰✰✰✰</br>
------------------------------------------------------------</br>
1. Anyone can post jokes, trolls</br>
2. Advertisement is strictly prohibited.</br>
3. Don't post unnecessary links.</br>
4. Nudity and vulgar post are deleted and then
s/he is out of the group and banned.</br>
5. Unnecessary posts, comments and 
arguments are also not allowed..</br>
6. Please be Friendly With each others.</br>
7. Please do not humiliate Nepali public figures, these days Anmol k.c is been humiliated. he is doing good in film industry tho.. la thik cha he might have attitude</br>
yo ta jasko pani huncha ni more or less if someone dislikes then leave it do not provoke in personal matter...</br>
if any indian public figure is trolled yeha birodh garne haru ko line lagcha...</br>

Rules must be followed thank-you else we have to do what we are meant to do. </br>

#admin </br>

Welcome everyone!</br>
P.S. most of the admins are single</p>
</div></br>